body{
    margin: 0;
    padding: 0;
}

header{
    background: aqua;
    height: 70px;
    font-size: 35px; 
    color: black;
    justify-content: center;
    align-items: center;
    position:  block;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}

button{
    width: 15%;
    font-size: 20px;
    background: #fff;
}
